{% extends '!footer.html' %}

{% block extrafooter %}
       <div class="cc0">
       <span class="creativecommons">
        <a href="https://creativecommons.org/publicdomain/zero/1.0/" >
          <img src="{{ pathto("_static/cc0-80x15.png", 1) }}"
               border="0" alt="Creative Commons License"/>
         </a>
        To the extent possible under law, the creators of this documentation
        have waived all copyrights and related or neighbouring rights
        to this work through the
        <a href="https://creativecommons.org/publicdomain/zero/1.0/">
        Creative Commons Zero Universal (CC0 1.0) Public Domain Dedication.
        </a>
       </span>
      </div>
{% endblock %}

