# This is a list of requirements used to build this documentation
# use with pip:
# pip3 install --user -r requirements.txt
# YES USE PIP3 BECAUSE OF PYTHON3 OR BE SUBJECT TO DEPENDENCY HELL

sphinx>=2.0.0
sphinx-rtd-theme==0.5.0
sphinxcontrib-blockdiag==2.0.0
nwdiag==2.0.0
sphinx-togglebutton==0.2.2
